node_modules/

package-lock.json
yarn.lock
pnpm-lock.yaml


backend/dist/
backend/build/
frontend/.next/
frontend/out/
.cache/

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.swn

coverage/
.nyc_output/

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

